@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



.header {
    background-color: rgb(145, 72, 72);
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    width: 100%;
    z-index: 3;
    position: fixed;
    padding-top: 1em 0;
    height: 7vh;

  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
}

/* About Page */
.sct-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3em;
}

.box-1 {
    background-color: cadetblue;
    /* background-image: url();
    background-repeat: no-repeat;
    background-size: cover; */
    border-radius: 10px;
    height: 10em;
    width: 17em;
    margin: 2em 2em;
    box-shadow: #2f5455 5px 5px
  }
  
  .box-2 {
    display: flex;
    flex-direction: column;
    margin: -6em 2em 0 0;
    align-self: flex-end;
  }

  .box-2 p{
    background-color: orange;
    justify-content: space-evenly;
    margin: 1em 0 0 0px;
    width: 15em;
    border-radius: 5px;
    box-shadow: #6b4646 3px 5px;
    display: flex;
  }

.sct-2 {
  display: flex;
  flex-direction: column;
  margin: 10px 2em;
}

.div3 { 
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.div3 img{
  height: 5vh;
  justify-content: space-evenly;
}
  
.div4 {
  background: rgb(94, 94, 255);
  /* background-image: url(../about.images/campaign-creators-gMsnXqILjp4-unsplash.jpg);
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 35vh;
    height: 10em;
    border-radius: 10px;
    display: flex;
    line-height: 2em;
    box-shadow: -5px -5px;
    box-shadow: #7f7fc5 -5px -5px;
}

.div4 p{
  margin: 2em -17px;
}

/* .div4 p:hover {
 font-size: 2em;
} */

.div5 {
    background-color: rgb(0 144 255);
    margin: 3em 0;
    display: flex;
    align-self: flex-end;
    height: 10em;
    width: 35vh;
    border-radius: 5px;
    box-shadow: #02599d 5px 5px;
  }

.div5 p{
  text-align: right;
  line-height: 2em;
  align-self: flex-end;
  margin: 0 -1em -3em 0;
}

.inLife{
  font-size: 1.5em;
}

.atWork{
  font-size: 1.5em;
}

form{
  display: flex;
  flex-direction:column;
  width: 80%;
  margin:auto;
}

input {
  margin-bottom: 20px;
  border-radius: 3px;
  height: 30px;
  
}

textarea {
  margin-bottom: 20px;
  border-radius: 3px;
}


#social-icons img {
  width: 80px;
}

button{
  width: 70px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-family: inherit;
  border-radius: 3px;
}

h3 {
  background: linear-gradient(180deg, yellow)
}

/* Contact Section */
#contacts {
  display: flex;
  width: 93%;
  margin: auto;
  background-color: #eee;
  padding: 10px 0 0em 0;
  box-shadow: 8px 8px #77a;
  border-radius: 3px;
  flex-direction: column;
}

h2 {
  padding-bottom: 15px;
  color: #77a;
}

.form-and-buttons {
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 -10px 0;
  }

.contact-OR {
    font-size: 18px;
    width: 25px;
  }

  form {
    width: 40%;
    margin: 0;
  }

.social-icons {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
  }

.social-icons img {
    width: 75px;
  }

img:hover{
    background:#ddd;
    border-radius: 3px;
  }

/* Media Query */
@media screen and (min-width: 960px){
  #about{
    /* background-color: blue; */
    margin-right: -65%;
  }
  
  .header ul{
   display:flex;
   justify-content: space-between; 
   background-color: rgb(255, 255, 255);
   padding:0 3em;
   height:7vh;
   width:95%;
   
   /* position: relative; */
  } 
  
  .header .logo{
    left: 35%;
    position: absolute;
    z-index:1;
  }
  
  
  .header li {
    float: left;
  }
  
  
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  
  .header .menu-icon {
    display: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  
  .sct-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3em;
}

.box-1 {
    background-color: #30bcff;
    /* background-image: url();
    background-repeat: no-repeat;
    background-size: cover; */
    height: 15em;
    width: 35vh;
  }
  
  .box-2{
    align-self: flex-start;
    margin-left: 10em;
  }
  .box-2 p{
    width: 30em;
    line-height: 30px;
    margin-top: 1em;
  }

.sct-2 {
}

.div3 {
  margin: 1em;
}
.div3 img{
}
  
.div4 {
  background: rgb(94, 94, 255);
  /* background-image: url(../about.images/campaign-creators-gMsnXqILjp4-unsplash.jpg);
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 55vh;
    height: 20em;
}

.div4 p{
  margin: 2em -17px;
}

.div5 {
    height: 20em;
    width: 55vh;
  }

.div5 p{
  text-align: right;
  line-height: 2em;
  align-self: flex-end;
  margin: 0 -20px -30px 0;
}

.inLife{
  font-size: 1.5em;
}

.atWork{
  font-size: 1.5em;
}

#contacts {
    margin: auto;
    background-color: #eee;
    padding: 10px;
    box-shadow: 8px 8px #77a;
    border-radius: 3px;
  }
  
  h2 {
    padding-bottom: 15px;
    color: #77a;
  }
  
  .form-and-buttons {
      display: flex; 
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
    }
  
  .contact-OR {
      font-size: 18px;
      width: 25px;
    }
  
    form {
      width: 40%;
      margin: 0;
    }
  
  .social-icons {
      display: flex;
      flex-wrap: wrap;
      width: 160px;
      height: 160px;
    }
  
  .social-icons img {
      width: 75px;
    }
  
  img:hover{
      background:#ddd;
      border-radius: 3px;
    }


  
  }