@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
/* HEADER */
.header {
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 7vh;
  background:rgb(255, 255, 255)
}
/* HEADER MENU */

.header ul {
  height:12vh;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  border: none;
}

.header li{
  display: flex;
  justify-content: center;
  align-items: center;
  width:60px;
}

.header li a{
  color:rgb(242, 142, 133);
  display: block;
  font-weight: bold;
  /* padding: 20px 20px; */
  text-decoration: none;
  transition: all 0.2s linear;
  border-bottom: 10px solid rgba(136, 176, 191, 75%);
}

.header li a:hover{
  border-bottom: 10px solid rgba(2242, 142, 133);
  color:rgb(136, 176, 191);
  letter-spacing: 1px;
  font-size: 20px;
  padding-bottom: 5px;
}
 /* LOGO LOGO LOGO*/

 .header .logo {
  background: url(..//Home-images/Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 55vw;
  height: 4.8vh;
  display: block;
  float: left;
  padding: 9px 10px;
}

/* menu about project contact */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .5s ease-in-out;
}
/* menu icon |||*/
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* About Page */

main{
  background:  rgba(137, 176, 191, 0.15);
}

.sct-1 {
 padding-top: 3em;
}

.box-2 img {
  width: 65vw;
  height: auto;
  border-radius: 10px;
  margin: 4vh 4vh;
  box-shadow: -16px -15px #dddddd;
}

.box-2 {
    height: 37vh;
  }
  
.box-2 p{
  border-radius: 5px;
  position: relative;
  bottom: 14vh;
  left: 12vw;
  width: 65vw;
  line-height: 1.5em;
  }

.sct-2 {
  margin-left: 2vh;
  
}

.manOnLaptop{
  position: relative;
  width: 35vw;
  margin-top: 1em;
  left: 33vw;
  border-radius: 1em;
}

.manAndWoman{
  position: relative;
  bottom: 9vh;
  width: 35vw;
  border-radius: 15px;
}

.div3 { 
  display: flex;
  justify-content: flex-end;
  margin: 3vh 10vw 1vh 0em;
}


.div3 img{
  width: 8vw;
}
  
.div4 {
  width: 50vw;
  height: 35vh;
  line-height: 2em;
}

.div4 p{
  position: relative;
  bottom: 43vh;
}


.div5 {
  margin-top: 3em;
  border-radius: 5px;
  }

.manSkateboard{
  width: 40vw;
    border-radius: 10px;
    position: relative;
    right: 13vw;
    top: 13vh;
}

.manSitting{
  osition: relative;
  top: 13vh;
  border-radius: 10px;
  left: 2vw;
  width: 40vw;
}


.div5 p{
  line-height: 1.5em;
  width: 50vw;
  position: relative;
  bottom: 30vh;;
}

.inLife{
  font-size: 3vh;
}

.atWork{
  font-size: 3vh;
}

.reggieGreeting{
  font-size: 24px;
}



  /* Media Query */
@media screen and (min-width: 960px){

#about{
    /* background-color: blue; */
    margin-right: -65%;
  }
  
.header ul{
   display:flex;
   justify-content: space-between; 
   background-color: rgb(255, 255, 255);
   padding:0 3em;
   height:7vh;
   width:95%;
   
   /* position: relative; */
  } 
  
.header .logo{
    left: 35%;
    position: absolute;
    z-index:1;
  }
  
  
.header li {
    float: left;
  }
  
  
.header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  
.header .menu-icon {
    display: none;
  }
  
header {
    display: flex;
    justify-content: space-between;
  }

main {}

.sct-1 {
  height: 55vh;
}
  
.box-2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  }

.box-2 p{
  align-self: flex-end;
  line-height: 3vh;
  position: relative;
  bottom: 40vh;
  left: 47vh;
  font-size: 2vh;
  text-align: justify;
}

.sct-2{
  margin: 1vh 5vh 0;
}

.div4 {
  /* background-image: url(../about.images/campaign-creators-gMsnXqILjp4-unsplash.jpg);
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 55vw;
    height: 20em;
}

.div4 p{
  line-height: 5vh;
}

.div5 {
    height: 20em;
    width: 55vw;
  }

.div5 p{
  line-height: 5vh;
}

.inLife{
  font-size: 1.5em;
}

.atWork{
  font-size: 1.5em;
}

.reggieGreeting{
      font-size: 5vh;
    }

.manOnLaptop{
  border-radius: 10px;
  box-shadow: -10px -10px #9090ff;
}
      
.manAndWoman{
  border-radius: 10px;
  box-shadow: 10px 10px #9090ff;
}

.manSitting{}
      
.manSkateboard{}    
 

}


